<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>To-do App</title>
</head>
<body>
  <div class="container">
    <input type="text" class="input" [(ngModel)]="task">
    <button class="boton" (click)="newTask()">Añadir Tarea</button>

    <div class="container-tasks">
      <h3 class="titulo" *ngIf="arraytasks.length > 0; else noTask">Mis tareas</h3>
      <ng-template #noTask>
        <h3 class="titulo">No se ha creado ninguna tarea</h3>
      </ng-template>
      <div class="task" *ngFor="let task of arraytasks" (click)="delTask(task)">{{task}}</div>
    </div>
  </div>
</body>
</html>